.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #320f8b;
    font-size: 30px;
}

h2 {
    text-align:center;
    color:#320f8b;
    font-size: 30px;
}
.flex-container > div {
background-color: #320f8b;
width: 100px;
height: 100px;
margin: 10px;
text-align: center;
font-size: 30px;
color: aliceblue;
}

.flex-container {
    display: flex;
background-color: rgb(20, 20, 20);
height: 400px;
}

#div1 {
    background-color: rgb(200, 200, 20);
    align-self: end;
}
#div2 {
    background-color: rgb(255, 40, 40);
    order: -1;
}
#div3 {
    background-color: rgb(20, 100, 40);
    flex: 2 2 100px;
    order: -2;
}
#div4 {
    background-color: rgb(255, 40, 40);
    order: -3;
}
#div5 {
    background-color: rgb(200, 200, 20);
    order: -4;
    align-self: end;
}


.flex-container2 > div {
display: flex;
height: 600px;
width: 100%;
font-size: 25px;
justify-content: center;
align-items: center;
}

.flex-container2{
display: flex;
background-color: rgb(20, 20, 20);
}

#div6 {
    background-color: rgb(242, 24, 24);
    width:20%;
}
#div7 {
    background-color: rgb(227, 242, 24);
    width:20%;
}
#div8 {
    background-color: rgb(24, 242, 38);
    width:20%;
}
#div9 {
    background-color: rgb(24, 238, 242);
    width:20%;
}
#div10 {
    background-color: rgb(24, 42, 242);
    width:20%;
}

#upperdiv{
    width:100%;
    align-self: center;
    background-color:rgb(20, 100, 40);
}

.paragraphs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#leftdiv{
border-style: dotted;
}

#rightdiv{
border-style: dotted;    
}

.mike{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}